
@using Kayseri_Poje.Models
@model TBLKITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/_KitapLayout.cshtml";
}

@using (Html.BeginForm("KitapGüncelle", "Kitap", FormMethod.Post))
{   
    @Html.HiddenFor(m => m.KİTAPID)

    <div style="margin-bottom:15px;">
        @Html.LabelFor(m => m.AD)
        @Html.TextBoxFor(m => m.AD, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px;">
        @Html.LabelFor(m => m.YAZAR)
        @Html.TextBoxFor(m => m.YAZAR, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px;">
        @Html.LabelFor(m => m.SAYFA)
        @Html.TextBoxFor(m => m.SAYFA, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px;">
        @Html.LabelFor(m => m.KATEDORI)
        @Html.TextBoxFor(m => m.KATEDORI, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Düzenle</button>
}


